// body,
// html {
//     overscroll-behavior: none;
//     min-height: 100vh;
// }




* {
    // background: hsla(101, 100%, 13%, 0.1) !important;
    scroll-behavior: smooth;
}

// SCROLL WEBKIT
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: black;

    &:hover {
        background-color: gray;
    }

    &:active {
        background-color: gray;
    }
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #50afd4;
    border: 4px solid #6fd6ff;

    &:hover {
        background-color: var(--background);
    }

    &:active {
        background-color: var(--accent);
        border: 4px solid var(--background);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    // font-family: "Lobster", sans-serif;
    // font-family: 'Raleway', sans-serif;
    // font-family: "Roboto Mono", monospace;
}

// SPINNER
.spinner-wrapper {
    position: fixed;
    z-index: 1400;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(33, 33, 41, 1);

    svg {
        font-family: "Lobster", sans-serif;
        width: 100%;
        height: 100%;

        text {
            animation: stroke 3s infinite alternate;
            stroke-width: 2;
            stroke: var(--accent);
            font-size: 100px;
        }
    }


    @keyframes stroke {
        0% {
            fill: rgba(72, 138, 204, 0);
            stroke: white;
            stroke-dashoffset: 25%;
            stroke-dasharray: 0 50%;
            stroke-width: 2;
        }

        70% {
            fill: rgba(72, 138, 204, 0);
            stroke: white;
        }

        80% {
            fill: rgba(72, 138, 204, 0);
            stroke: white;
            stroke-width: 3;
        }

        100% {
            fill: white;
            stroke: rgba(54, 95, 160, 0);
            stroke-dashoffset: -25%;
            stroke-dasharray: 50% 0;
            stroke-width: 0;
        }
    }
}

@media (max-width:800px) {
    .spinner-wrapper {
        svg {
            text {
                font-size: 35px;
                stroke-width: 1;
            }
        }
    }
}

.nav-item {
    .nav-link {
        border-radius: 8px;

        &.active {
            background: #7e0400;
            color: white;
        }
    }
}


.the-contact {
    padding: 20px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .the-contact-title {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        div {
            height: 6px;
            width: 100px;
            background: red;
        }
    }

    .row {
        width: 100%;

        .col.info {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            min-width: 300px;
            background: #191a27;
            flex-direction: column;
            gap: 10px;
            margin: 0;


            .my-row {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 10px;

                .my-col {
                    max-width: 300px;
                    min-width: 300px;
                    max-height: 350px;
                    min-height: 300px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: white;
                    gap: 15px;

                    .contact-name {
                        letter-spacing: 3px;
                        text-transform: uppercase;
                    }

                    .contact-socials {

                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        min-width: 200px;


                        i {
                            font-size: 30px;
                        }
                    }
                }
            }

            .contact-content {
                text-align: center;

                a {
                    text-decoration: underline;
                    color: white;
                    letter-spacing: 2px;
                }
            }

            .location {
                border: 2px solid white;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 40px;
                }
            }
        }
    }
}

.col.map {
    min-width: 300px;
    min-height: 300px;
    margin: 0;
    padding: 0;

    iframe {
        margin: 0;
    }
}

.back-to-top {
    text-decoration: none;
    z-index: 1001;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: rgb(5, 3, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: .3s;

    &:hover {
        border-radius: 50%;
        background: rgb(20, 12, 75);
        transform: scale(1.4);

    }

    i {
        color: white;
    }
}








// HEADER

.header-wrapperr {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .header-image {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        transform: rotate(10deg)scale(1.5);
        filter: brightness(0.3)blur(3px);
        width: 100%;
        height: 100vh;
    }

    .header-center {
        position: absolute;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .banner-wrapper {
            width: 100%;

            #text {
                color: rgb(152, 206, 3);
            }

            .banner {
                padding: 0;
                margin: 0;
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 10000;
                    pointer-events: none;
                }

                .scroll {
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    div {
                        color: white;
                        padding: 0;
                        margin: 0;
                        width: 100%;
                        font-size: 3em;
                        letter-spacing: 5px;
                        font-weight: 600;
                        // white-space: nowrap;
                        line-height: 1.3em;
                        text-align: center;
                    }
                }
            }
        }


        p {
            padding: 0 10px;
            font-size: 18px;
            max-width: 450px;
            color: white;
            text-align: center;
        }

        a {
            text-decoration: none;

            .view-btn {
                pointer-events: all;
                cursor: pointer;
                margin: 30px;
                border: 1px solid var(--background);
                width: 70px;
                height: 70px;
                color: var(--background);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                animation: view 1s infinite alternate;
                transition: 0.2s ease-out;

                &:hover {
                    animation: view2 1s infinite alternate;
                }

                i {
                    animation: view 1s infinite alternate;
                }
            }
        }


    }

    @keyframes view {
        0% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(10px);
        }
    }

    @keyframes view2 {
        0% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(5px);
        }
    }
}

@media (max-width:800px) {
    .header-wrapperr .header-center .banner-wrapper .banner .scroll div {
        font-size: 1.5em;
    }
}









.header-wrapper {
    padding-top: 40px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .header-title {
        font-size: 45px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .header-type {
        ul {
            display: flex;
            gap: 15px;

            li {
                list-style: none;
                color: aqua;
                font-weight: 600;
            }
        }
    }

    .header-slogan {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        min-width: 300px;

        .span-wrapper {
            min-width: 100px;

            span {
                color: rgb(103, 255, 235);
                font-weight: 700;
            }
        }
    }
}

@media (max-width:700px) {
    .header-wrapper {
        .header-title {
            font-size: 30px;
        }
    }
}

.reveal {
    position: relative;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50px);
    transition: .5s ease-out;

    &.active {
        filter: blur(0px);
        transform: translateY(0);
        opacity: 1;
    }
}

.splide {
    .splide__track {
        .splide__list {
            .splide__slide {
                max-width: 400px;
                margin: 0 20px;
                cursor: pointer;
                transition: .3s ease-in-out;
                height: 600px;
                position: relative;

                .slide-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    transition: 0.3s;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    font-size: 25px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    padding-bottom: 50px;

                    .text {
                        color: white;
                        background: black;
                        border-radius: 4px;
                        padding: 0 5px;
                    }
                }

                &:hover {
                    transform: scale(1.05);

                    .slide-content {
                        background: rgba(0, 0, 0, 0.7);
                        opacity: 1;
                    }
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.mobile-nav {
    z-index: 1004;
    position: fixed;
    top: 15px;
    right: 15px;
}

@media (max-width:500px) {
    .splide {
        .splide__track {
            .splide__list {
                .splide__slide {
                    min-width: 300px;
                    max-height: 400px;
                }
            }
        }
    }
}

.website-logo {
    position: fixed;
    top: 15px;
    left: 15px;
    min-height: 50px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-content: center;

    img {
        // max-width: 50px;
        height: 50px;
        object-fit: contain;
        filter: invert(1);
    }

    h2 {
        font-family: "Lobster", sans-serif;
        color: white;
        letter-spacing: 4px;
        font-weight: 700;
    }
}

.contact {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgba(255, 217, 217, 0.39);
    border-radius: 10px;
    min-height: 50px;
    padding: 0 10px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
    color: white;
}



.my-nav {
    position: fixed;
    top: 15px;
    left: 50%;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(255, 217, 217, 0.39);
    border-radius: 10px;
    min-height: 50px;
    max-width: 800px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;

        li {
            text-decoration: none;
            list-style: none;
            padding: 3px 10px;
            text-align: center;
            border-radius: 5px;
            transition: .3s;

            a {
                text-decoration: none;
                color: white;
                letter-spacing: 5px;
                font-weight: 600;
                font-family: "Lobster", sans-serif;
            }

            &:hover {
                background: #00000085;
            }

            &.active {
                background: white;

                a {
                    color: black;
                    font-size: 14px;
                    letter-spacing: 2px;
                    font-weight: 700;
                }
            }

        }
    }
}

@media (max-width:1000px) {


    .my-nav {
        top: 0;
        left: 0;
        right: 0;
        border-radius: 0px;
        min-width: 100vw;
        background: white;
        color: black;
    }
}

.vh-200 {
    height: 500vh !important;
}

.horizontal {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .panel {
        display: flex;
        color: white;
        min-width: 100vw;
        min-height: 100vh;
        overflow: hidden;
        scroll-snap-align: start;
    }
}

.slide-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-bg {
        max-width: 70%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            animation: mainImg 5s alternate ease-in-out infinite;
        }
    }

    .slide-title {
        position: absolute;
        top: 200px;
        left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 14px;
            font-weight: 700;
        }
    }

}

@keyframes mainImg {
    0% {
        filter: hue-rotate(0deg);
        transform: translateY(0) translateX(0);
    }

    25% {
        transform: translateY(-10px) translateX(5px);
    }

    50% {
        transform: translateY(0) translateX(0);
    }

    75% {
        transform: translateY(10px) translateX(-5px);
    }

    100% {
        filter: hue-rotate(-45deg);
        transform: translateY(0) translateX(0);
    }
}

a.custom-btn {
    letter-spacing: 0px;
    width: fit-content;
    font-size: 18px;
    font-weight: 400;
    background: transparent;
    border-radius: 15px;
    border: 2px solid #50afd4;
    background: #6fd6ff;
    color: white;
    padding: 2px 15px;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 0;
    transition: 0.3s;
    z-index: 1010;

    &:hover {
        padding: 6px 30px;
        border-radius: 10px;
        border: 2px solid #6fd6ff;
        background: #d47a50;
    }
}

// IMAGE-BANNER
.image-banner-wrapper {
    overflow: hidden;

    .wrapper-text {
        font-family: "Lobster", sans-serif;
        font-size: clamp(8rem, 15vw, 16rem);
        line-height: 1;
        font-weight: 900;
        display: flex;
        white-space: nowrap;

        img {
            width: 300px;
            object-fit: contain;
        }
    }

    .image-banner {
        &:not(last) {
            padding-bottom: 1rem;
        }

        ul {
            padding-left: 1rem;
            list-style: none;
            display: flex;

            li {
                flex-shrink: 0;
                width: clamp(500px, 60vw, 800px);
                padding-right: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                    max-height: 600px;
                    object-fit: cover;
                }
            }
        }
    }
}




// footer
.background.footer {
    background: black;
}

.footer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    .website-log img {
        position: relative;
        width: 100px;
        filter: invert(1);
    }

    .website-title {
        font-size: 30px;
        font-weight: 700;

        span {
            color: #50afd4;
        }
    }

    .slogan {
        text-transform: uppercase;
        color: white;
        font-size: 20px;

    }

    .designer-link {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: gray;
            color: white;
            margin: 5px;
            transition: 0.2s ease-in;
            font-size: 22px;

            &:hover {
                color: var(--accent);
                transform: translateY(-20px);
            }

        }
    }

    .footer-links {
        padding: 20px 0 10px 0;

        .row .col {
            min-width: fit-content;
            text-align: center;
        }

    }



    .website-detail {
        font-size: 15px;
        color: gray;
    }

}

@media (max-width:800px) {
    .footer .footer-links .row .col {
        min-width: 300px;
    }
}